.App {
    text-align: center;
    background-color: darkgray;
  
  }

  /* being overwritten due to use of container therefore not using 
  h2 {
    color: blue;
    text-align: center;
    padding: 10px;
  }
  */
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin:auto;
    justify-content: space-evenly;
    background-color: gray;
    /* filter: drop-shadow(5px 5px 5px rgb(250, 250, 249)); */
    
  }
 
  .cardBox {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    border-radius: 3rem;
  }
  
  .cardBox:hover .cardText {
    opacity: 1;
  }
  
  .cardImg {
    max-height: 450px;
    min-height: 450px;
    border-radius:  .65rem;
  }
  
 
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .container {
    background-color: transparent;
   
    
  }
  
  .navBar {
    background-color: black;
    text-align: left;
  }
  
  .card {
    border-radius: 2rem;
    padding-top: 1px;
    background-color: gray;
    padding-bottom: 20px;
    width: 320px;
    margin: 2rem 1rem;
    
    
  }
  
  .reviewBtn {
    height: 30px;
    width: 200px;
    margin-top: 20px;
  }
  
  .card-title {
    color:#282c34;
    font-family: 'impact fantasy';

  }

